*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    color: rgb(139, 138, 138);
}

header{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
header i{
    margin-left: 10px;
}

span{
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.My-Container {
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: grid;
    /* grid-template-columns: 190px 190px 190px 190px 190px 190px 190px; */
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    border-radius: 10px;
    background: #fff;

  }

  /* sec Container */

  .Container{
    justify-content: space-around;
    padding: 10px;
    height: 150px;
    margin: 10px;
    text-align: center;
    display: grid;
    /* grid-template-columns: 190px 190px 190px 190px 190px 190px 190px; */
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
    overflow: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
  }

  .Items{
      border-right: 1px solid rgba(35, 36, 37, 0.12);
      text-align: right;
      height: 130px;
      padding: 14px 45px;
      letter-spacing: 1px;
      font-size: 12px;
      box-sizing: border-box;
      color: #98a0a6;
      position: relative;
      z-index: 1;
  } 


  /* Container2 */

  .Container2{
    position: relative;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    height: 150px;
    text-align: center;
    display: grid;
    /* grid-template-columns: 190px 190px 190px 190px 190px 190px 190px; */
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
    overflow: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
  }

  /* Design Sprint */
  /* #FED6DE */
  .DesignSprint{
    position: absolute;
    margin-top: 50px;
    background-color: #FED6DE;
    width: 550px;
    margin-left: 150px;
    border-radius: 2px;
    border-left: 2px solid #FA607E;
  }
  .DesignSprint span{
    margin-right: 400px;
    color: #FA5A61;
    font-size: 17px;
  }

  /* Projects */

  .Projects{
    position: absolute;
    background-color: #FEF0DB;
    width: 520px;
    margin-right: 500px;
    border-radius: 2px;
    border-left: 2px solid #FDB44D;
  }

  .Projects span{
    margin-right: 410px;
    color: #FDB44D;
    font-size: 17px;
  }

  /* Container3  */

  .Container3{
    position: relative;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    height: 150px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
    overflow: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
  }

  /* #4786FF */
  /* Product Checkup */

  .ProductCheckup{
    position: absolute;
    margin-top: 70px;
    background-color: #4786FF;
    width: 550px;
    margin-left: 150px;
    border-radius: 5px;
  }

  .ProductCheckup span{
    margin-right: 410px;
    color: white;
    font-size: 14px;
  }


  /* Container4 */
  .Container4{
    position: relative;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    height: 150px;
    text-align: center;
    display: grid;
    /* grid-template-columns: 190px 190px 190px 190px 190px 190px 190px; */
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
    overflow: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
  }

  /* box */

  .box{
    clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%, 32% 15%, 38% 27%, 0% 75%);
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #e9ebf0;
    color: black;
  }
  
  /* Product Checkup 2 */

  .ProductCheckup2{
    position: absolute;
    margin-top: 60px;
    background-color: #E5EEFF;
    width: 350px;
    height: 40px;
    margin-left: 150px;
    border-radius: 5px;
    border-left: 2px solid #4786FF;
  }

  .ProductCheckup2 span{
    margin-right: 200px;
    text-align: center;
    color: #4786FF;
    font-size: 14px;
  }



/* Container5  */

.Container5 {
  position: relative;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  height: 150px;
  text-align: center;
  display: grid;
  /* grid-template-columns: 190px 190px 190px 190px 190px 190px 190px; */
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 120px;
  overflow: auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
}
