*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    color: rgb(139, 138, 138);
}

header{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
header i{
    margin-left: 10px;
}

span{
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.My-Container {
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: grid;
    /* grid-template-columns: 190px 190px 190px 190px 190px 190px 190px; */
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    border-radius: 10px;
    background: #fff;
    
    
  }

  /* sec Container */

  .Container{
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: grid;
    /* grid-template-columns: 190px 190px 190px 190px 190px 190px 190px; */
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
    overflow: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
  }

  .Items{
      border-bottom: 2px solid rgba(166, 168, 179, 0.12);
      border-right: 2px solid rgba(166, 168, 179, 0.12);
      text-align: right;
      padding: 14px 45px;
      letter-spacing: 1px;
      font-size: 12px;
      box-sizing: border-box;
      color: #98a0a6;
      position: relative;
      z-index: 1;
  } 


  /* Container2 */

  .Container2{
    position: relative;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: grid;
    /* grid-template-columns: 190px 190px 190px 190px 190px 190px 190px; */
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
    overflow: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
  }
  /* .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    overflow: hidden;
    gap: var(--gap);
 }

 .grid__item {
    position: relative;
 }
 .grid {
    --gap: 2em;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 2px;
    --line-color: red;
 }
 .grid__item::before, 
.grid__item::after {
   content: '';
   position: absolute;
   background-color: var(--line-color);
   z-index: 1;
}

.grid__item::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
  }

  .grid__item::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
  }

  .grid {
  

    --gap: 2rem;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 2px;
    --line-color: red;
    
   
     display: grid;
     grid-template-columns: repeat(3, minmax(0, 1fr));
     overflow: hidden;
     gap: var(--gap);
  }
  

  .grid__item {
     position: relative;
  }
  
  
  .grid__item::before, 
  .grid__item::after {
     content: '';
     position: absolute;
     background-color: var(--line-color);
     z-index: 1;
  }
  
  
  .grid__item::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
  }
  
  
  .grid__item::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-inline-start: calc(var(--line-offset) * -1);
  } */